<!DOCTYPE html>
<html>

<head>
    <title>
        <%= __("Tags / categories") %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= __("Available categories list") %>
    </h1>
    <ul>
        <% for (let i=0; i < tags.length; i++) { %>
            <li>
                <%= tags[i] %>
            </li>
            <% } %>
    </ul>
</body>

</html>